
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');
* {
    font-family: 'Asap Condensed', sans-serif;
}
body {
    margin: 0;}
    ul.topnav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    ul.topnav li {
        float: left;
    }
    ul.topnav a {
        display: inline-block;
        color: #f2f2f2;
        justify-content: space-around;
        font-family: Asap, sans-serif;
        padding: 20px 30px;
        transition: 0.3s;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
    }
    ul.topnav li a:hover {
        color: greenyellow;

    }
    ul.topnav li.icon {
        display: none;
        width: 100%;
    }
@media screen and (max-width: 680px) {
    ul.topnav li:not(:first-child) {display: none;}
    ul.topnav li.icon {
        display: inline-block;
        }
    }
@media screen and (max-width: 680px) {
    ul.topnav.responsive {
        position: relative; 
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
        }
    }
.active {
     width: 130px;
     margin: 20px;
    }

  
.banner {
    background-image: url(../img/image-background.webp);
    padding: 30px 0px 300px 0px;
    background-repeat: no-repeat;
}
h1 {
    font:inherit;
    font-size: 100px;
    font-weight: bolder;
    color: white;
    margin-top: 200px;
    margin-left: 40px;
}
@media screen and (max-width: 680px) {
    .banner h1 span .about-us {
    display: block;
    }
}
.button-style-about {
    padding: 0.35em 1.2em;
    border: 0.1em;
    margin: 60px 200px 40px 250px;
    border-radius: 0.12em;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    transition: color 1s;
    background-color: orange;
    height: 60px;
    width: 150px;
}

.button-style-about:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

.about-us {
    color: white;
    font-size: 26px;
    font-weight: bold;
    margin-left: 40px;
}

.background-history {
    background-image: url(../img/background-history.png);
    background-size: cover;
    width: 100%;
}
h2 {
    font-family: Asap, sans-serif;
    font-weight: 500px;
    font-size: 40px;
    color: rgb(50, 88, 107);
    text-align: center;
}
.our-history {
    color: white;
    padding-top: 30px;
}
.products-carousel .product-image {
    display: block;
    width: 65%;
    margin: 10px 100px 40px 300px;
    padding-bottom: 40px;
}
h3 {
    font-size: 60px;
}
.meta {
    font-family: Asap, sans-serif;
    text-align: center;
    color: rgb(50, 88, 107);
    font-size: 26px;
}
.students, .seniors, .specialists, .childs{
    background-image: url(../img/fon-section.webp);
    background-size: cover;
    padding: 20px 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 10px 20px 30px 20px;
    border-radius: 20px;
}
@media (min-width: 680px) {
    .for-colums {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0px 40px 0px 40px;
        grid-gap: 5px;
    }
    } 
.statistic {
    font-weight: bold;
    font-size: 24px;  
}
.education-and-care {
    background-image: url(../img/for-education-and-care.png);
    min-width: 680px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.education-block {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    margin: 100px 200px 100px 450px;
    padding: 100px;
}
@media screen and (min-width: 680px) {
    .education-and-care .education-block {
        display: flex;
    }
}
.button-style {
    padding: 0.35em 1.2em;
    border: 0.1em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    transition: color 1s;
    background-color: orange;
    height: 40px;
    width: 130px;
}

.button-style:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
.button-learn {
    padding: 0.35em 1.2em;
    border-style: solid;
    margin: 0 10px 0 10px;
    border-radius: 0.12em;
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    transition: color 1s;
    background-color: white;
    border-color: blue;
    height: 40px;
    width: 130px;
}
.button-learn:hover {
    color: white;
    background-color: blue;
    cursor: pointer;
}
.special-kids {
 font-size: 34px;
 font-family: bold;
 text-align: center;
 color:rgb(50, 88, 107);
}
.special-kids-revue {
font-size: 24px;
 font-family: bold;
 text-align: center;
 color:rgb(50, 88, 107);
}
.icons {
    width: 150px;
    margin: 30px;
}
.icons-mini {
    width: 145px;
    margin: 27px;
}
@media (min-width: 680px) {
    .for-colums-new {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0px 40px 0px 40px;
        grid-gap: 10px;
        text-align: center;
    }
} 
.title-icons {
    font-size: 24px;
    font-family: 500px;
    text-align: center;
    color:rgb(50, 88, 107);
    margin: 20px;
}
.about-icons {
    font-size: 18px;
    font-family: bold;
    color:rgb(50, 88, 107);
    margin: 20px;
    text-align: center; 
    padding-bottom: 40px;
}
.text-in-border {
    font-size: 22px;
    font-family: 400px;
    background-color: orange;
    height: 60px;
    width: 230px;
    text-align: center;
    color: white;
    margin: 20px 20px 20px 40px;
    padding-top: 30px;
    position: relative;
}
.position-img {
    position: relative;
    width: 500px;
    height: 400px;
    margin: 10px 20px -113px 40px;
}