* {
    font-family: 'Asap Condensed', sans-serif;
    text-align: center;
}
body {width: 1500px;
    margin: auto;}
.kids {
    width: 50px;

}
.banner {
    background-image: url(../img/image-background.webp);
    padding: 50px 0px 500px 0px;
}
h1 {
    font-size: 100px;
    font-weight: 400px;
    color: white;
}
.button-style {
    border: orange;
    background-color: orange;
    color: white; 
    border-radius: 5em;
    margin: 10px;}
section {
    background-color: aqua;
    color: white;}
.button-learn {
    border: blue;
    background-color: white;
    border-radius: 5em;
}